html{
  overflow-y:hidden;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#left-side {
  flex-grow: 6;
  margin: auto;
}

#right-side {
  flex-grow: 6;
  margin: auto;
}

.page {
  width: 100%;
  height: 100vh;
  background-color: #d8d7d7;
}

.page-content {
  width: 80%;
  margin: auto;
}

.page-content label {
  font-size: 20px;
}

.page-content input {
  font-size: 20px;
}

.number-input {
  width: 25%;
  margin-right: 20px;
}

.page-content div {
  margin-top: 10px;
}

.grid {
  display: grid;
}

.button {
  display: grid;
  font-size: 25px;
  color: white;
  background-color: #101b39;
  padding: 15px 1px;
  margin: auto;
  width: 65%;
  border-radius: 5%;
  text-align: center;
  box-sizing: border-box;
  box-shadow: grey 5px 5px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: row1-start;
  grid-row-end: 1;
  
}


.scripture {
  max-height: 300px;
  overflow-y: scroll;
  padding: 5px;
}

.center {
  text-align: center;
}

.del-btn {
  background-color: rgb(211, 0, 0);
  padding: 15px;
  border-radius: 10%;
  box-shadow: grey 5px 5px;
  justify-self: right;
  width: fit-content;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: row1-start;
  grid-row-end: 1;
}