body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#left-side {
  flex-grow: 6;
  margin: auto;
}

#right-side {
  flex-grow: 6;
  margin: auto;
}

.page {
  width: 100%;
}

